#logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

#logo img {
  filter: invert(1);
}

.action {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
}

.action img {
  filter: invert(1);
}
